.profileImage{
    width: 128px;
    height: 128px;
    border-radius: 5px;
}
.image{
    width: 128px;
    height: 128px;
    border-radius: 5px;
} 
.profileImageBox{
    padding-top: 20px;
    padding-right: 0!important;
    width: 175px;
}
.profileTitle{
    height: 128px;
    padding-top: 50px;
    padding-left: 0!important;
}
.profileName{
    padding-left: 0!important;
    color:#232629;
    font-size: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profileSubTitle{
    font-size: 13px;
    color: #6A737C;
    margin-top:5px;
}
.socialLinks span{
    margin-right: 10px;
}
.profilePill{
    padding: 6px 12px;
    cursor: pointer;
    user-select: auto;
    border-radius: 1000px;
    margin-left: 25px;
    margin-top: 20px;
    white-space: nowrap;
    background: rgb(244 130 37);
    color: white;
    text-align:center;
    width:65px;
    font-size: 13px;
}
.activityPill{
    padding: 6px 12px;
    cursor: pointer;
    user-select: auto;
    border-radius: 1000px;
    margin-left: 10px;
    margin-top: 20px;
    white-space: nowrap;
    background: white;
    color:#232629;
    text-align:center;
    width:65px;
    font-size: 13px;
}
.activityPill:hover{
    background: rgb(225 236 244)
}
.statsBox{
padding:20px 15px
}
.aboutBox{
    padding:20px 15px
}
.statCount{
    padding: 12px;
    border: 1px solid rgb(214 217 220);
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;    
}
.count{
    color: #0C0E0D
}
.stackTitle{
    color: #232629;
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aboutText{
    margin-top:5px;
    font-weight: 200;
    font-size: 15px;
    color: #3B4045;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topPercent{
    font-size: 11px;
    padding: 5px 10px;
}
.trophy .trophyImg{
    height:48px;
    width:48px
}
.countBoxTrophy{
    font-size: 11px;
    width:100px;
    text-align: left;
    padding: 5px 10px;
}
.badgePill{
    padding: .4em .8em .4em .4em;
    margin: 0 3px 3px 0;
    color: hsl(0,0%,100%);
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    font-size: 12px;
    background-color: rgb(59 64 69);
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    text-align: left;
}
.badgeDate{
    text-align: right;
    font-size: 11px;
}
.badgeStat{
    margin-top: 15px;
}
.badge1{
    margin-right: 3px!important;
    margin-left: 2px!important;
    width: 6px!important;
    border-radius: 100%!important;
    height: 6px!important;
    background: yellow;
    margin-top: 4px;
}
.noPaddingLeft{
    padding-left:0!important
}
.noPaddingRight{
    padding-right:0!important
}
.communityText{
    font-size: 13px!important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.communityLogoBox{
    height:16px;
    width:16px;
    margin-right:5px
}